<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="css/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bg_img.css" />
    <link rel="stylesheet" href="css/password_success.css" />
  </head>
  <body>
    <div class="w-full h-screen flex items-center justify-center">
    <div
      class="forgot-pwd-container bg-gray-100 absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] w-[500px] px-10 py-12 shadow-md rounded-md flex flex-col items-center justify-center"
    >
      <p class="text-gray-600 text-sm text-center">
        <img src="img/icons8_customer_208px.png" class="size-14" alt=""><br />
        <p class=" text-gray-600  font-semibold">
            kojo syntax
        </p>
        <p class="italic text-blue-700 text-sm mb-4">
            Online
        </p>
      </p>
      <div class="flex w-full flex-col">
      <div class="flex items-center gap-3 p-3 justify-start w-full">
        <img src="img/icons8_customer_208px.png" alt="" class="size-4">
        <p class="text-left gap-6 text-xs font-bold text-gray-600">
            Name
        </p>
        <p class="text-right mx-72  text-teal-700 text-xs font-bold">
            Albert
        </p>
      </div>

      <div class="flex items-center justify-start gap-3 p-3">
        <img src="img/icons8_mail_500px_1.png" alt="" class="size-4">
        <p class="text-left gap-6 text-xs font-bold text-gray-600">
            Email
        </p>
        <p class=" text-teal-700 text-xs font-bold text-right mx-40">
            albert.gbeve@stu.ucc.edu.gh
        </p>
      </div>

      <div class="flex items-center justify-start gap-3 p-2">
        <img src="img/icons8_name_208px.png" alt="" class="size-4">
        <p class="text-left gap-6 text-xs font-bold text-gray-600">
            Username
        </p>
        <p class=" text-teal-700 text-xs font-bold text-right mx-72">
            syn
        </p>
      </div>
      <div>
        <h1 class="text-center text-xs p-2 font-semibold italic  text-gray-400 ">
            Username lets people contact you and add you to various 
                    channels without needing your email
        </h1>
      </div>
    </div>
    </div>
  </div>
  </body>
</html>
