<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="css/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bg_img.css" />
    <link rel="stylesheet" href="css/password_success.css" />
  </head>
  <body class="bg_img relative">
    <div
      class="forgot-pwd-container bg-gray-100 absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] w-[500px] px-10 py-12 shadow-md rounded-md flex flex-col items-center justify-center gap-3"
    >
      <img
        src="img/icons8_ok_208px_1.png"
        class="w-40"
        alt=""
        srcset=""
      />
      <p class="text-gray-600 text-sm text-center">
        Your channel has successfully been created!<br />
        You will be redirected to the login page soon!!!
      </p>
    </div>
  </body>
</html>
