<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Connect</title>
    <link rel="stylesheet" href="{% static 'core/css/chatroom.css' %}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <!-- header -->
            <div class="header">
                <a href="{% url 'dashboard' %}">
                    <div class="userimg">
                        <ion-icon name="home" class="cover"></ion-icon>
                    </div>
                </a>
                <ul class="nav_icons">
                    <li>
                        <ion-icon name="ellipsis-vertical" class="pop-up"></ion-icon>
                        <div class="pop-up-menu">
                            <ul>
                                <li><a href="{% url 'create_chatroom' %}">Create Channel</a></li>
                                <li><a href="{% url 'join_chatroom' %}">Join Channel</a></li>
                                <li><a href="{% url 'profile' %}">Profile</a></li>
                                <li><a href="{% url 'signin' %}">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <script>
                    document.addEventListener('DOMContentLoaded', (event) => {
                        const ellipsisIcon = document.querySelector('.pop-up');
                        const popUpMenu = document.querySelector('.pop-up-menu');
                    
                        ellipsisIcon.addEventListener('click', () => {
                            popUpMenu.classList.toggle('show');
                        });
                    
                        // Close the pop-up menu if clicked outside
                        document.addEventListener('click', (event) => {
                            if (!ellipsisIcon.contains(event.target) && !popUpMenu.contains(event.target)) {
                                popUpMenu.classList.remove('show');
                            }
                        });
                    });
                    </script>
            </div>
            <!-- Search -->
            <!-- <div class="search_chat"> -->
                <!-- <div> -->
                    <!-- <input type="text" name="" id="" placeholder="Search or start new chat"> -->
                    <!-- <ion-icon name="search-outline"></ion-icon> -->
                <!-- </div> -->
            <!-- </div> -->

            <!-- Chat list -->
            <div class="chatlist">
                {% for room in rooms_joined %}
                <a href="{% url 'chatroom' room.id %}" class="channel-details">
                <div class="block {% if room.id == chatroom.id %}active{% endif %}">
                    <div class="imgbx">
                        <img src="{% static 'core/img/icons8_male_user.svg' %}" alt="profile icon" class="cover">
                    </div>
                    <div class="details">
                        <div class="listHead">
                            <h4>{{ room.name }}</h4>
                            <!-- <p class="time">10:56</p> -->
                        </div>
                        <div class="message_p">
                            <p>{{ room.description }}</p>
                        </div>
                    </div>
                </div>
                </a>
                {% endfor %}
            </div>
        </div>

        <!-- Chat page -->
        <div class="rightside">

            <!-- Channel details fix -->
            <a href="" class="channel-details">
                <div class="header">
                    <div class="imgText">
                        <div class="userimg">
                            <img src="{% static 'core/img/icons8_customer_208px.png' %}" alt="userimg" class="cover">
                        </div>
                        <h4 id="room_name" style="text-decoration: none;">{{ chatroom.name }}</h4>
                    </div>
                    <!-- <ul class="nav_icons"> -->
                        <!-- <li><ion-icon name="search-outline"></ion-icon></li> -->
                        <!-- <li><ion-icon name="ellipsis-vertical"></ion-icon></li>
                    </ul> -->
                </div>
            </a>
            
            <!-- chatbox -->
            <div class="chatBox" id="chatBox">

            </div>
            <!-- chat input -->
            <div class="chatbox_input">
                <!-- <ion-icon name="happy-outline"></ion-icon> -->
                <ion-icon name="attach-outline"></ion-icon>
                <input type="text" id="messageInput" placeholder="Type a message">
                <!-- <ion-icon name="mic"></ion-icon> -->
                <button onclick="sendMessage()" class="send-btn">
                    <ion-icon name="send" class="send-button" style="color: #128C7E;"></ion-icon>
                </button>
            </div>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        document.getElementById('room_name').innerHTML = '{{ chatroom.name }}';
        const chatBox = document.getElementById('chatBox');
        const messageInput = document.getElementById('messageInput');
        const ws = new WebSocket('ws://' + window.location.host + '/ws/chatrooms/' + '{{ chatroom.id }}' + '/');
    
        ws.onmessage = function(event) {
            const data = JSON.parse(event.data);
            const messageElement = document.createElement('div');
            messageElement.className = 'message group_message';
            messageElement.id = 'group_message';
            messageElement.innerHTML = `<p>${data.message}<br><span>${data.timestamp}</span>
                <button class="cybermarks">
                    <ion-icon name="add-circle-outline"></ion-icon>
                </button>
            </p>`;
            chatBox.appendChild(messageElement);
        };
    
        function sendMessage() {
            const message = messageInput.value;
            const messageElement = document.createElement('div');
            messageElement.className = 'message my_message';
            messageElement.id = 'my_message';
            const now = new Date();
            const formattedTime = now.getHours().toString().padStart(2, '0') + ':' + now.getMinutes().toString().padStart(2, '0');
            messageElement.innerHTML = `<p>${message}<br><span>${formattedTime}</span>
                <button class="cybermarks">
                    <ion-icon name="add-circle-outline"></ion-icon>
                </button>
            </p>`;
            chatBox.appendChild(messageElement);
    
            ws.send(JSON.stringify({'message': message}));
            messageInput.value = '';
        }

        messageInput.addEventListener('keydown', function(event) {
    if (event.key === 'Enter' && messageInput.value.trim() !== '') {
        sendMessage();
    }
    });

    </script>
</body>
</html>
