<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Settings</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="css/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bg_img.css" />
    <script
      src="https://kit.fontawesome.com/cd753fb8bb.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="flex items-center justify-center w-full h-screen">
      <div action="" class="w-[70%] max-w-[700px]">
        <!-- 
          content here
         -->

        <div class="flex flex-col gap-3 px-7 py-10">
          <div class="flex flex-col">
            <p class="text-3xl font-bold">Create Channels</p>
            <span class="text-sm text-gray-500"
              >Channels are where your team communites. They're best when
              organized around in a topic - #lead for example</span
            >
          </div>
          <label class="inline-flex items-center me-5 cursor-pointer max-w-fit">
            <input type="checkbox" value="" class="sr-only peer" checked />
            <div
              class="relative w-11 h-6 bg-gray-200 rounded-full peer dark:bg-gray-700 peer-focus:ring-4 peer-focus:ring-[#31af95] dark:peer-focus:ring-[#31af95] peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-800 peer-checked:bg-green-800"
            ></div>
            <span
              class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
              >Anyone can view and join this channel</span
            >
          </label>

          <div class="flex flex-col gap-5">
            <div>
              <label
                for="helper-text"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Name</label
              >
              <input
                type="text"
                id="helper-text"
                aria-describedby="helper-text-explanation"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="#unique"
              />
              <p
                id="helper-text-explanation"
                class="mt-2 text-sm text-gray-500 dark:text-gray-400"
              >
                Names must be alphanumberic and unique from other channels
              </p>
            </div>
            <!--  -->
            <div>
              <label
                for="helper-text"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Purpose <span class="text-gray-400">(optional)</span>
              </label>
              <input
                type="text"
                id="helper-text"
                aria-describedby="helper-text-explanation"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="UI Design Channel"
              />
              <p
                id="helper-text-explanation"
                class="mt-2 text-sm text-gray-500 dark:text-gray-400"
              >
                What's this channels purpose?
              </p>
            </div>
            <!--  -->
            <div>
              <label
                for="input-group-1"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Send invites <span class="text-gray-400">(optional)</span>
              </label>
              <div class="relative mb-6">
                <div
                  class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                >
                  <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <input
                  type="text"
                  id="input-group-1"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Tony S."
                />
              </div>
            </div>
            <!--  -->
            <div class="flex justify-end items-center gap-1">
              <button
                type="button"
                class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
              >
                Cancel
              </button>

              <button
                type="button"
                class="focus:outline-none text-white bg-[#31af95] hover:bg-[#26907b] focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
              >
                Create Channel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
