<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'core/css/dashboard.css' %}">
</head>
<body>
    <img src="{% static 'core/img/sec.png' %}" alt="">
    <div class="side-bar-container">
        <div class="side-bar">
            <h1 class="code-connect">
                Code Connect
            </h1>
            <div class="buttons">
                <a href="">
                    <img src="{% static 'core/img/icons8_home_500px.png' %}" alt="">
                    <h1 class="home">
                        Home
                    </h1>
                </a>
                <div class="">
                    <button id="menu-btn">
                        <div class="new-channel-container">
                            <img src="{% static 'core/img/icons8_new_message_96px_1.png' %}" alt="">
                            <h1 class="new-channel">New Channel</h1>
                        </div>
                        <img src="{% static 'core/img/icons8_down_button.svg'}" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>