{% extends 'core/base.html' %}

{% load static %}

{% block title %}Dashboard{% endblock %}

{% block cssfile %}{% static 'core/css/dashboard.css' %}{% endblock %}

{% block content %}
        <div class="right-side-container">
            <h1 class="message2">
                Messages
            </h1>
            <div class="search-container2">
                <div class="search2-container">
                    <!-- <input type="text" placeholder="Search for messages or channels" class="search2"> -->
                    <!-- avatar -->
                     <!-- <div class="search-img-container2">
                        <img src="{% static 'core/img/pexels-pixabay-207489 (1).jpg'}" alt="" class="search-img2">
                     </div> -->
                </div>
                <!-- messages -->
                <div class="messages2">
                    <!-- messagesCard -->
                    {% for room in rooms_joined %}
                    <a href="{% url 'chatroom' room.id %}" style="text-decoration: none;">
                    <div class="message-card2">
                        <div class="avatar-container2">
                            <!-- avatar -->
                            <div class="avatar2">
                                <img src="{% static 'core/img/icons8_male_user.svg' %}" alt="" class="avatar-img2">
                            </div>
                            <!-- text -->
                            <div class="text-container2">
                                <h1 class="text2">{{ room.name }}</h1>
                                <p class="message-text2">
                                    {{ room.description }}
                                </p>
                            </div>
                        </div>
                        <!-- timestamp -->
                        <!-- <div class="time-container2"> -->
                            <!-- time -->
                            <!-- <h1 class="time2">12:42</h1> -->
                            <!-- number of unread messages -->
                            <!-- <h1 class="number-unread2">4</h1> -->
                        <!-- </div> -->
                    </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="footer">
                <img src="{% static 'core/img/icons8_lock_480px.png' %}" alt="" class="lock-img">
                <h1 class="text-end">End-to-End-Encrypted</h1>
            </div>
        </div>
{% endblock %}
