<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter New Password</title>
    <link rel="stylesheet" href="{% static 'core/css/enter_password.css' %}">
</head>
<body>
    <div class="main-container">
        <img src="{% static 'core/img/icons8_help_480px.png' %}" alt="">
        <p>Enter Your New Password</p>
        <input type="password" placeholder="New Password">
        <input type="password" name="" id="" placeholder="Confirm Password">
        <div class="button-container">
            <a href="{% url 'signin' %}"  style="text-decoration: none;">
                <button class="cancel">Cancel</button>
            </a>
            <a href="{% url 'password_success'}" >
                <button class="reset">Reset Password</button>
            </a>
        </div>
    </div>   
</body>
</html>