<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="{% static 'core/css/error.css' %}">
</head>
<body>
    <div class="error-container">
        <img src="{% static 'core/img/pngwing.com.png' %}" alt="" class="error">
        <p class="error-text">
            An error occurred! <br>
            Please try again
        </p>
    </div>
</body>
</html>