<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter OTP</title>
    <link rel="stylesheet" href="{% static 'core/css/forgot_password_otp.css' %}">
</head>
<body>
    <div class="main-container">
        <img src="{% static 'core/img/icons8_help_480px.png' %}" alt="">
        <p class="forgot-password">Forgot Password</p>
        <p class="text">Enter the OTP that was sent to your email</p>
        <div class="input-container">
            <input type="text" name="" id="" maxlength="1" class="otp-input">
            <input type="text" name="" id="" maxlength="1" class="otp-input">
            <input type="text" name="" id="" maxlength="1" class="otp-input">
            <input type="text" name="" id="" maxlength="1" class="otp-input">
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const otpInputs = document.querySelectorAll('.otp-input');
                
                otpInputs.forEach((input, index) => {
                    input.addEventListener('input', function() {
                        if (input.value.length === 1 && index < otpInputs.length - 1) {
                            otpInputs[index + 1].focus();
                        }
                    });
                });
            });
            </script>

        <div class="button-container">
            <a href="{% url 'forgot-password' %}" style="text-decoration: none;">
                <button class="back">Back</button>    
            </a>
            <a href="">
                <button class="reset">Reset Password</button>
            </a>
        </div>
    </div>
</body>
</html>