<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'core/css/forgot-password.css' %}">
</head>
<body>
    <div class="forgot-pwd-container">
        <img src="{% static 'core/img/icons8_help_480px.png' %}" alt="" class="forgot-pwd-img">
        <p class="forgot-pwd">Forgot Password?</p>
        <p class="forgot-pwd-text">An OTP will be sent to your email <br>
            to reset your password. If you don't get and OTP <br> within a few minutes, please try again.
        </p>
        <div>
            <input type="email" class="email" placeholder="Enter your Email">
        </div>
        <div class="outline-button">
            <a href="{% url 'login' %}">
                <button class="outline-btn">
                    Cancel
                </button>
            </a>
            <a href="{% url 'forgot-password-otp' %}" class="solid-btn">
                <button>
                    Reset Password
                </button>
            </a>
        </div>
    </div>
</body>
</html>