<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>forgot password</title>
      <script src="https://cdn.tailwindcss.com"></script>
      <link href="css/output.css" rel="stylesheet" />
      <link rel="stylesheet" href="css/bg_img.css" />
    </head>
  </head>
  <body class="bg_img relative">
    <div
      class="forgot-pwd-container bg-gray-100 absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] w-[500px] px-10 py-12 shadow-md rounded-md flex flex-col items-center justify-center gap-3"
    >
      <img
        src="img/icons8_help_480px.png"
        class="w-12"
        alt=""
        srcset=""
      />
      <p class="text-2xl font-extrabold">Forgot Password?</p>
      <p class="text-gray-600 text-sm text-center">
        An OTP will be sent to your email <br />
        to reset your password. If you don't get and OTP <br />
        within a few minutes, please try re-try
      </p>
      <div class="flex gap-3 mt-5">
        <!-- Outline Button -->
        <a href="login.html">
          <button
          class="border-2 border-[#31af95] text-[#31af95] font-normal py-2 px-4 rounded hover:bg-[#26907b] hover:text-white transition-colors duration-300 w-40"
          >
          Cancel
        </button>
        </a>
        <!-- Solid Button -->
        <a href="forgot_password_otp.html">
          <button
          class="bg-[#31af95] text-white font-normal py-2 px-4 rounded hover:bg-[#26907b] transition-colors duration-300 w-40"
        >
          Reset Password
        </button>
        </a>
      </div>
    </div>
  </body>
</html>
