{% extends 'core/base.html' %}

{% load static %}

{% block title %}Dashboard{% endblock %}

{% block cssfile %}{% static 'core/css/fresh_view.css' %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="container-cont">
            <div class="container-cont-cont">
                <p class="welcome">
                    Welcome! <br>
                    Let's get you sorted
                </p>
                <div class="menu-container">
                    <a href="{% url 'create_chatroom' %}" style="text-decoration: none;">
                        <div class="profile-container">
                        <img src="{% static 'core/img/icons8_create.png' %}" alt="" class="settings-img">
                        <h1 class="settings-text">Create Channel</h1>
                    </div>
                </a>
                    <a href="{% url 'join_chatroom' %}" style="text-decoration: none;">
                        <div class="profile-container">
                        <img src="{% static 'core/img/icons8_add_to_inbox.png' %}" alt="" class="settings-img">
                        <h1 class="settings-text">Join Channel</h1>
                    </div>
                </a>
                    <a href="{% url 'profile' %}" style="text-decoration: none;">
                        <div class="profile-container">
                        <img src="{% static 'core/img/icons8_settings_1.png' %}" alt="" class="settings-img">
                        <h1 class="settings-text">
                            Account Settings
                        </h1>
                    </div>
                </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
