<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="css/output.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bg_img.css" />
</head>
<body>
    <div class="w-full h-full px-20 py-10 text-black">
        <h1 class="font-semibold text-lg mb-2">Message</h1>
        <div class="flex flex-col h-full w-full gap-5">
            <div class="flex w-full items-center justify-between">
                <input type="text" placeholder="Search your messages or channels" class="w-[80%] p-3 rounded-md border-2 border-[#31af95] bg-transparent outline-none">
                <!-- avatar -->
                <div class="size-14 bg-black rounded-full overflow-hidden">
                    <img src="img/pexels-pixabay-207489 (1).jpg" alt="" class="w-full h-full">
                </div>
            </div>
            <!-- messages -->
            <div class="h-[390px] max-h-[390px] w-full bg-gray-200 shadow-lg rounded-lg overflow-y-auto p-5">
                    <!-- messagesCard -->
                <div class="flex justify-between items-center my-2 bg-gray-200 rounded-md p-2 cursor-pointer">
                    <div class="flex gap-3 items-center">
                        <!-- avatar -->
                        <div class="size-10 rounded-full overflow-hidden">
                            <img src="img/icons8_male_user.svg" alt="" class="h-full w-full">
                        </div>
                        <!-- text -->
                        <div class="space-y-0">
                            <h1 class="text-xl font-semibold">Software Engineering</h1>
                            <p class="truncate w-[60%]">
                                messages message message message message message message message
                            </p>
                        </div>
                    </div>
                    <!-- timestamp -->
                    <div>
                        <!-- time -->
                        <h1 class="text-[#31af95] font-medium text-sm">18:40</h1>
                        <!-- number of unread messages -->
                        <h1 class="p-2 bg-[#31af95] text-white text-xs rounded-full text-center">24</h1>
                    </div>
                </div>
                <div class="flex justify-between items-center my-2 bg-gray-200 rounded-md p-2 cursor-pointer">
                    <div class="flex gap-3 items-center ">
                        <!-- avatar -->
                        <div class="size-10 rounded-full overflow-hidden">
                            <img src="img/icons8_male_user.svg" alt="" class="h-full w-full">
                        </div>
                        <!-- text -->
                        <div class="space-y-0">
                            <h1 class="text-xl font-semibold">Software Engineering</h1>
                            <p class="truncate w-[60%]">
                                messages message message message message message message message
                            </p>
                        </div>
                    </div>
                    <!-- timestamp -->
                    <div>
                        <!-- time -->
                        <h1 class="text-[#31af95] font-medium text-sm">18:40</h1>
                        <!-- number of unread messages -->
                        <h1 class="p-2 bg-[#31af95] text-white text-xs rounded-full text-center">24</h1>
                    </div>
                </div>
                <div class="flex justify-between items-center my-2 bg-gray-200 rounded-md p-2 cursor-pointer">
                    <div class="flex gap-3 items-center ">
                        <!-- avatar -->
                        <div class="size-10 rounded-full overflow-hidden">
                            <img src="img/icons8_male_user.svg" alt="" class="h-full w-full">
                        </div>
                        <!-- text -->
                        <div class="space-y-0">
                            <h1 class="text-xl font-semibold">Software Engineering</h1>
                            <p class="truncate w-[60%]">
                                messages message message message message message message message
                            </p>
                        </div>
                    </div>
                    <!-- timestamp -->
                    <div>
                        <!-- time -->
                        <h1 class="text-[#31af95] font-medium text-sm">18:40</h1>
                        <!-- number of unread messages -->
                        <h1 class="p-2 bg-[#31af95] text-white text-xs rounded-full text-center">24</h1>
                    </div>
                </div>
                <div class="flex justify-between items-center my-2 bg-gray-200 rounded-md p-2 cursor-pointer">
                    <div class="flex gap-3 items-center ">
                        <!-- avatar -->
                        <div class="size-10 rounded-full overflow-hidden">
                            <img src="img/icons8_male_user.svg" alt="" class="h-full w-full">
                        </div>
                        <!-- text -->
                        <div class="space-y-0">
                            <h1 class="text-xl font-semibold">Software Engineering</h1>
                            <p class="truncate w-[60%]">
                                messages message message message message message message message
                            </p>
                        </div>
                    </div>
                    <!-- timestamp -->
                    <div>
                        <!-- time -->
                        <h1 class="text-[#31af95] font-medium text-sm">18:40</h1>
                        <!-- number of unread messages -->
                        <h1 class="p-2 bg-[#31af95] text-white text-xs rounded-full text-center">24</h1>
                    </div>
                </div>
                <div class="flex justify-between items-center my-2 bg-gray-200 rounded-md p-2 cursor-pointer">
                    <div class="flex gap-3 items-center ">
                        <!-- avatar -->
                        <div class="size-10 rounded-full overflow-hidden">
                            <img src="img/icons8_male_user.svg" alt="" class="h-full w-full">
                        </div>
                        <!-- text -->
                        <div class="space-y-0">
                            <h1 class="text-xl font-semibold">Software Engineering</h1>
                            <p class="truncate w-[60%]">
                                messages message message message message message message message
                            </p>
                        </div>
                    </div>
                    <!-- timestamp -->
                    <div>
                        <!-- time -->
                        <h1 class="text-[#31af95] font-medium text-sm">18:40</h1>
                        <!-- number of unread messages -->
                        <h1 class="p-2 bg-[#31af95] text-white text-xs rounded-full text-center">24</h1>
                    </div>
                </div>
                <div class="flex justify-between items-center my-2 bg-gray-200 rounded-md p-2 cursor-pointer">
                    <div class="flex gap-3 items-center ">
                        <!-- avatar -->
                        <div class="size-10 rounded-full overflow-hidden">
                            <img src="img/icons8_male_user.svg" alt="" class="h-full w-full">
                        </div>
                        <!-- text -->
                        <div class="space-y-0">
                            <h1 class="text-xl font-semibold">Software Engineering</h1>
                            <p class="truncate w-[60%]">
                                messages message message message message message message message
                            </p>
                        </div>
                    </div>
                    <!-- timestamp -->
                    <div>
                        <!-- time -->
                        <h1 class="text-[#31af95] font-medium text-sm">18:40</h1>
                        <!-- number of unread messages -->
                        <h1 class="p-2 bg-[#31af95] text-white text-xs rounded-full text-center">24</h1>
                    </div>
                </div>
                <div class="flex justify-between items-center my-2 bg-gray-200 rounded-md p-2 cursor-pointer">
                    <div class="flex gap-3 items-center ">
                        <!-- avatar -->
                        <div class="size-10 rounded-full overflow-hidden">
                            <img src="img/icons8_male_user.svg" alt="" class="h-full w-full">
                        </div>
                        <!-- text -->
                        <div class="space-y-0">
                            <h1 class="text-xl font-semibold">Software Engineering</h1>
                            <p class="truncate w-[60%]">
                                messages message message message message message message message
                            </p>
                        </div>
                    </div>
                    <!-- timestamp -->
                    <div>
                        <!-- time -->
                        <h1 class="text-[#31af95] font-medium text-sm">18:40</h1>
                        <!-- number of unread messages -->
                        <h1 class="p-2 bg-[#31af95] text-white text-xs rounded-full text-center">24</h1>
                    </div>
                </div>
            </div>
            <div class="flex items-center justify-center gap-3 fixed left-0 right-0 bottom-5 w-1/2 mx-auto ">
                <img src="img/icons8_lock_480px.png" alt="" class="size-5">
                <h1 class="text-gray-400 text-sm">End-to-End Encrypted</h1>
            </div>

        </div>
    </div>
</body>
</html>