<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <script type="text/javascript">
        setTimeout(function() {
            window.location.href = "{% url 'signin' %}";
        }, 5000); // 5000 milliseconds = 5 seconds reduce the time or increase it as you see fit.
    </script>
    <link rel="stylesheet" href="{% static 'core/css/error.css' %}">
</head>
<body>
    <div class="error-container">
        <img src="{% static 'core/img/icons8_ok_208px_1.png' %}" alt="" class="error">
        <p class="error-text">
            Password Reset Successfully
        </p>
        <a href="{% url 'signin' %}" >
            <button class="dashboard-btn">Proceed To Login</button>
        </a>
    </div>
    

    <!-- <script>
        const errorText = document.querySelector('.error-text');
        errorText.innerHTML = 'An error occurred! <br> {{ request.session.error_message }}';
    </script> -->
</body>
</html>