<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'core/css/register.css' %}">
</head>
<body>
    <div class="main-container">
        <img src="{% static 'core/img/bg_img.png' %}" alt="" class="bg-img">
        <div class="small-div-main">
            <div class="small-div">
                <h1 class="welcome-back">
                    Welcome Back!
                </h1>
                <h1 class="keep">
                    To keep connected to us please login with your persnal info
                </h1>
                <a href="{% url 'login' %}">
                    <button class="sign-in-btn">
                        Sign In
                    </button>
                </a>
            </div>
            <div class="big-div">
                <h1 class="create">
                    Create Account
                </h1>
                <!-- hidden div to show error -->
                <div id="errorMessage">
                    <p>
                        An error occured. Please check your details and try again!
                    </p>
                </div>
                <form action="" id="register-form">
                    <input type="text" placeholder="Enter your username">
                    <input type="email" placeholder="Enter your email">
                    <input type="password" placeholder="Choose your password">
                    <div class="btn-container">
                        <button id="sign-up-btn">
                            Sign up
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>