<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'core/css/signin.css' %}">
</head>
<body>
    <img src="{% static 'core/img/bg_img.png' %}" alt="" class="bg-img">
    <div class="main-container">
        <div class="form-div">
            <div class="big-div">
                <h1>
                    Login To Your Account
                </h1>
                <div id="errorMessage" class="{% if error_occured %}block{% else %}hidden{% endif %} w-[60%] bg-red-200 text-red-700 p-2 rounded-lg mb-2">
                    <p>Invalid login credentials!</p>
                </div>
                <form action="{% url 'signin' %}" id="login-form" method="POST">
                    {% csrf_token %}
                    <input type="email" class="email" name="email" placeholder="Enter your email">
                    <input type="password" name="password" placeholder="Password">
                    <a href="#" class="forgot-password-container">
                        <p class="forgot-password">
                            Forgot Password?
                        </p>
                    </a>
                    <button id="login-button" type="submit">
                            Sign In
                    </button>
                </form>
            </div>
            <div class="small-div">
                <h1 class="new-here">
                    New Here?
                </h1>
                <p class="des-text">
                    Sign Up and enjoy a new world of collaboration
                </p>
                <a href="{% url 'signup' %}">
                    <button class="sign-up-btn">
                        Sign Up
                    </button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>