@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#009688 0%, #009688 130px, #d9dbd5 130px, #d9dbd5 100%);
} 

.container{
    position: relative;
    width: 1396px;
    max-width: 100%;
    height: calc(100vh - 40px);
    background: #ffff;
    box-shadow: 0.1px 1px 0rgba(0,0,0,0.06), 0 2px, 5px 0 rgba(0, 0, 0, 0.06);
    display: flex;
}

.container .sidebar{
    position: relative;
    flex: 30%;
    background: #ffff;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.container .rightside{
    position: relative;
    flex: 70%;
    background: #e5ddd5;

}

.container .rightside::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/41-light-green-gradient.jpg), url(../img/1000_F_314999588_yECjafXdXlTWi7ozxJEsnwf1DxvYKo38.jpg);
    opacity: 0.4;

}

.header{
    position: relative;
    width: 100%;
    height: 60px;
    background: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.userimg{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    color: #51585c;
}

.cover{
    color: #51585c;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav_icons{
    display: flex;
}

.nav_icons li{
    display: flex;
    list-style: none;
    cursor: pointer;
    color: #51585c;
    font-size: 1.5em;
    margin-left: 22px;
}

.search_chat{
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    padding: 0 15px;

}

.search_chat div{
    width: 100%;
}

.search_chat div input{
    width: 100%;
    outline: none;
    border: none;
    background-color: #fff;
    padding: 6px;
    height: 38px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 40px;
}

.search_chat div ion-icon{
    position: absolute;
    left: 30px;
    top: 14px;
    font-size: 1.2em;
}

.search_chat div input::placeholder{
    color: #bbb;
}

.chatlist{
    position: relative;
    overflow-y: auto;
    height: calc(100% - 110px);

}

.chatlist .block{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.chatlist .block .imgbx{
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.chatlist .block .details{
    position: relative;
    width: 100%;
}

.chatlist .block .details .listHead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.chatlist .block .details .listHead h4{
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
}

.chatlist .block .details .listHead .time{
    font-size: 0.75em;
    color: #aaa;
}

.message_p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message_p p{
    color: #aaa;
    display: -webkit-box;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message_p b{
    background: #009688;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}

.chatlist .block .details .listHead .time{
    color: #111;

}

.chatlist .block.active{
    background: #ebebeb;
}

.chatlist .block:hover{
    background: #f5f5f5;
}

.chatlist .block.unread .details .listHead .time{
    color: #009688;
}

.imgText{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgText h4{
    font-weight: 400;
    line-height: 1.2em;
    margin-left: 15px;
}

.chatBox{
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    padding: 50px;
    overflow-y: auto;
}

.message{
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}

.message p{
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: #EDFFE9;
    border-radius: 10px;
    font-size: 0.9em;
}

.my_message p::before{
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #EDFFE9 0%, #EDFFE9 58%, transparent 50%, transparent );

}

.message p span{
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
}

.my_message{
    justify-content: flex-end;
}

.group_message{
    justify-content: flex-start;
}

.group_message p{
    background: #fff;
    text-align: left;

}

.group_message p::before{
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg, #fff 0%, #fff 58%, transparent 50%, transparent );
}

.chatbox_input{
    position: relative;
    width: 100%;
    height: 60px;
    background: #f0f0f0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatbox_input ion-icon{
    cursor: pointer;
    font-size: 1.8em;
    color: #51585c;
}

.chatbox_input input{
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
}

.chatbox_input ion-icon:nth-child(1) {
    margin-right: 15px;
}

.cybermarks{
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}


#room_name {
    text-decoration: none;
    color: #009688;
    font-size: 1rem;
    font-weight: 600;
}

.channel-details{
    text-decoration: none;
}

.pop-up-menu {
    display: none; /* Hidden by default */
    position: absolute;
    top: 40px; /* Adjust as needed */
    right: 15px; /* Adjust as needed */
    background-color: #f0f0f0;
    border-radius: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.pop-up-menu ul {
    list-style: none;
    padding: 10px 10px;
    margin: 0;
}

.pop-up-menu ul li {
    padding: 10px 10px;
    cursor: pointer;
}

.pop-up-menu ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    font-size: 1rem;
}

.pop-up-menu ul li a:hover {
    background-color: #009688;
    color: #fff;
}

/* Show the pop-up menu when the 'show' class is added */
.pop-up-menu.show {
    display: block;
}


.send-btn{
    border: none;
    outline: none;
}

.send-button{
    color: #009688;
}

#username{
    color: #A729F5;
    font-weight: 600;
}

#username2{
    color: #EE5454;
    font-weight: 600;
}